@font-face {
  font-family: 'KontrapunktMiki_Bold';
  src: url('KontrapunktMiki-Bold.eot');
  src: url('KontrapunktMiki-Bold.eot?#iefix') format('embedded-opentype'),
      url('KontrapunktMiki-Bold.woff2') format('woff2'),
      url('KontrapunktMiki-Bold.woff') format('woff'),
      url('KontrapunktMiki-Bold.ttf') format('truetype'),
      url('KontrapunktMiki-Bold.svg#KontrapunktMiki-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'KontrapunktMiki_ExtraBold';
  src: url('KontrapunktMiki-ExtraBold.eot');
  src: url('KontrapunktMiki-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('KontrapunktMiki-ExtraBold.woff2') format('woff2'),
      url('KontrapunktMiki-ExtraBold.woff') format('woff'),
      url('KontrapunktMiki-ExtraBold.ttf') format('truetype'),
      url('KontrapunktMiki-ExtraBold.svg#KontrapunktMiki-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'KontrapunktMiki_Regular';
  src: url('KontrapunktMiki-Regular.eot');
  src: url('KontrapunktMiki-Regular.eot?#iefix') format('embedded-opentype'),
      url('KontrapunktMiki-Regular.woff2') format('woff2'),
      url('KontrapunktMiki-Regular.woff') format('woff'),
      url('KontrapunktMiki-Regular.ttf') format('truetype'),
      url('KontrapunktMiki-Regular.svg#KontrapunktMiki-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeneralSansVariable';
  src: url('GeneralSansVariable-Extralight.eot');
  src: url('GeneralSansVariable-Extralight.eot?#iefix') format('embedded-opentype'),
      url('GeneralSansVariable-Extralight.woff2') format('woff2'),
      url('GeneralSansVariable-Extralight.woff') format('woff'),
      url('GeneralSansVariable-Extralight.ttf') format('truetype'),
      url('GeneralSansVariable-Extralight.svg#GeneralSansVariable-Extralight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
$f_FontAwesome: "FontAwesome";
$f_KontrapunktMiki_Bold: "KontrapunktMiki_Bold";
$f_KontrapunktMiki_ExtraBold: "KontrapunktMiki_ExtraBold";
$f_KontrapunktMiki_Regular: "KontrapunktMiki_Regular";
$f_GeneralSansVariable: "GeneralSansVariable";


