.single_post {
    padding-top: 128px !important;
    padding-bottom: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    background-color: $mau_4;
    @media (max-width: 576px) {
        padding-top: 120px !important;
    }
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        @media (max-width: 992px) {
            margin-left: 24px;
            margin-right: 24px;
        }
        > .box_wrapper {
            display: grid;
            grid-template-columns: 52%;
            @media (max-width: 576px) {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 16px;
            }
            > .single_col_1 {
                > .single_title {
                    font-family: $f_GeneralSans_Bold;
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 16px;
                    @media (max-width: 576px) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }
                > .single_date {
                    font-family: $f_GeneralSans_Regular;
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    @media (max-width: 576px) {
                        margin-bottom: 32px;
                    }
                }
                > .single_content {
                    .video_container {
                        display: block;
                        .wp-block-column {
                            position: relative;
                            width: 100%;
                            padding-bottom: 56.25%;
                            margin-left: 0;
                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border: 0;
                            }
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            > .single_col_2 {
                position: fixed;
                top: 128px;
                right: 64px;
                width: 37%;
                z-index: 1;
                @media (max-width: 576px) {
                    width: 100%;
                    position: static;
                }
                > img {
                    width: 100%;
                }
            }
        }
    }
}
