.personnalites_page {
    padding-top: 104px !important;
    padding-bottom: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    @media(max-width:576px){
        padding-top: 120px !important;
    }
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        @media(max-width:992px){
            margin-left: 24px;
            margin-right: 24px;
        }
        > .page_name {
            margin-bottom: 0 !important;
            > .wp-block-column {
                &:first-child {
                    > h1 {
                        font-family: $f_GeneralSans_Medium;
                        font-size: 104px;
                        line-height: 104px;
                        margin-bottom: 72px;
                        @media (max-width: 576px) {
                            font-size: 48px;
                            line-height: 64px;
                            margin-bottom: 56px;
                        }
                    }
                }
            }
        }
        > .slogan {
            margin-bottom: 55px;
            @media(max-width:576px){
                margin-bottom: 40px;
            }            
            > .wp-block-column {
                width: 450px;
                position: relative;
                flex-basis: unset !important;
                flex-grow: unset;
                @media (max-width: 576px) {
                    width: 318px;
                }
                > figure {
                    position: absolute;
                    top: 75px;
                    left: 411px;
                    width: 54px;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        top: 84px;
                        left: 117px;
                        width: 36px;
                    }
                    > img {
                        width: 100%;
                    }
                }
            }
        }
        > .excerption {
            margin-left: 451px;
            margin-bottom: 80px;
            @media(max-width:992px){
                margin-left: 0;
            }
            @media(max-width:576px){
                margin-bottom: 32px;
            }
            > .wp-block-column {
                > p {
                    margin-bottom: 0;
                }
            }
        }
        > .personnalites_author_part {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 24px;
            margin-bottom: 0 !important;
            @media (max-width: 576px) {
                flex-direction: column;
                row-gap: 32px;
            }
            > div {
                width: calc(100% / 4 - 18px);
                @media (max-width: 576px) {
                    width: 100%;
                }
                > img {
                    width: 100%;
                    margin-bottom: 16px;
                }
                > .author_name {
                    font-family: $f_GeneralSans_Medium;
                }
                > .author_function {
                    font-family: $f_GeneralSans_Regular;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}
