.arrow_down {
    position: absolute;
    bottom: 32px;
    right: 40px;
    height: 48px;
    width: 34px;
    display: block;
    @media (max-width: 576px) {
        height: 32px;
        width: 22.67px;
        bottom: 20px;
        right: 20px;
    }
}
.contact_navbar {
    display: none;
    @media (max-width: 992px) {
        position: absolute;
        top: 30px;
        right: 24px;
        display: flex;
        column-gap: 30px;
        align-items: center;
        z-index: 11;
    }
    .contactMenuMobile {
        font-family: $f_GeneralSans_Medium;
        font-size: 16px;
        line-height: 32px;
    }
    .navbar_toggle_v2 {
        background-color: transparent;
        background-image: none;
        border: none;
        .ic {
            background-repeat: no-repeat;
            background-size: cover;
            height: 48px;
            width: 48px;
            display: block;
        }
        .burger {
            background-image: url("../images/ic_burger.svg");
        }
        .close {
            background-image: url("../images/ic_close.svg");
        }
    }
}
.logoMain {
    position: absolute;
    top: 16px;
    left: 0;
    width: $sidebar_width;
    display: flex;
    justify-content: center;
    z-index: 13;
    @media (max-width: 576px) {
        width: auto;
        top: 20px;
        left: 20px;
    }
    img {
        width: 72px;
        height: 72px;
        @media (max-width: 576px) {
            width: 56px;
            height: 56px;
        }
    }
}
.menu_sidebar {
    width: $sidebar_width;
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    @media (max-width: 992px) {
        display: none;
    }
    .fabars_sidebar {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .navbar_href {
            background: none;
            border: none;
            cursor: pointer;
            .ic {
                background-repeat: no-repeat;
                background-size: cover;
                width: 48px;
                height: 48px;
                display: block;
            }
            .burger {
                background-image: url("../images/ic_burger.svg");
            }
            .close {
                background-image: url("../images/ic_close.svg");
            }
        }
        .navbar_contact {
            position: absolute;
            bottom: 60px;
            left: 0;
            transform: rotate(-90deg);
            width: 100%;
            font-family: $f_GeneralSans_Medium;
            font-size: 18px;
            line-height: 32px;
        }
    }
}
.menu_back_drop {
    background-color: $mau_3;
    width: 100%;
    height: 100vh;
    transform: translate(0, 0);
    opacity: 0;
    transform-origin: left;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    @media (max-width: 992px) {
        align-items: flex-start;
        position: absolute;
        padding-top: 100px;
    }
    .logoFooter {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 120px;
        @media (max-width: 992px) {
            display: none;
        }
        > img {
            width: 100%;
        }
    }
    .askwho_container {
        margin-left: 244px;
        margin-right: 64px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 32px;
            margin-right: 32px;
        }
        .mainmenu {
            list-style: none;
            padding: 0;
            margin: 0;
            @media (max-width: 576px) {
                margin-bottom: 25px;
            }
            li {
                margin-bottom: 16px;
                @media (max-width: 992px) {
                    margin: 0;
                }
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 56px;
                    line-height: 64px;
                    @media (max-width: 992px) {
                        font-size: 40px;
                    }
                    @media (max-width: 576px) {
                        font-size: 40px;
                        line-height: 72px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
        .i_special {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
            @media (max-width: 576px) {
                margin-bottom: 5px;
            }
            li {
                margin-bottom: 16px;
                a {
                    font-family: $f_GeneralSans_Medium;
                    font-size: 24px;
                    letter-spacing: 0;
                    line-height: 48px;
                }
            }
        }
        .i_collect {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 24px;
                    line-height: 64px;
                    @media (max-width: 576px) {
                        font-size: 18px;
                        line-height: 40px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
    }
}
.meu_back_drop_scaleX1 {
    transform: translate(100%, 0);
    opacity: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    .menu_header {
        border: 0;
        list-style: none;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 45px;
        @media (max-width: 992px) {
            display: none;
        }
        li {
            padding-top: 34px;
            padding-bottom: 34px;
            a {
                font-family: $f_GeneralSans_Medium;
                font-size: 16px;
                line-height: 32px;
                @media (max-width: 992px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &::before {
                    background: none;
                }
            }
        }
    }
}
.box_header {
    padding: 0 !important;
    margin-bottom: 0 !important;
    > .askwho_container {
        margin-left: 250px;
        margin-right: 64px;
        flex-grow: unset;
        flex-basis: unset;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 32px;
            margin-right: 32px;
        }
        > .wp-block-columns {
            align-items: center;
            column-gap: 72px;
            height: 100vh;
            margin-bottom: 0;
            @media (max-width: 992px) {
                column-gap: 20px;
            }
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                column-gap: 0;
                row-gap: 40px;
            }
            > .wp-block-column {
                flex-basis: unset !important;
                flex-grow: unset !important;
                margin: 0 !important;
                padding: 0 !important;
            }
            > .col_logo {
                width: $logo_block_1_width;
                position: relative;
                @media (max-width: 992px) {
                    width: 96px;
                }
                > figure {
                    margin-bottom: 0;
                    position: absolute;
                    top: -215px;
                    left: 0;
                    width: 100%;
                    @media (max-width: 992px) {
                        top: -150px;
                    }
                    @media (max-width: 576px) {
                        position: static;
                    }
                    > img {
                        width: 100%;
                    }
                }
            }
            > .col_slogan {
                width: 752px;
                @media (max-width: 992px) {
                    width: 535px;
                }
                @media (max-width: 576px) {
                    width: 100%;
                }
                > h1 {
                    @media (max-width: 1024px) {
                        font-size: 40px;
                        line-height: 56px;
                    }
                    @media (max-width: 576px) {
                        font-size: 40px;
                        line-height: 40px;
                    }
                    span {
                        @media (max-width: 576px) {
                            background: none !important;
                        }
                    }
                }
            }
        }
    }
}
.box_contacts {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    @media(max-width:576px){        
        padding-top: 40px !important;        
    }
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 24px;
            margin-right: 24px;
        }
        > .wp-block-columns {
            margin-bottom: 0 !important;
        }
        > .uncarnet {
            padding-bottom: 45px;
            > .wp-block-column {
                width: 450px;
                position: relative;
                flex-basis: unset !important;
                flex-grow: unset;
                @media (max-width: 576px) {
                    width: 318px;
                }
                > figure {
                    position: absolute;
                    top: 75px;
                    left: 411px;
                    height: 48px;
                    width: 54px;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        top: 84px;
                        left: 117px;
                        height: 32px;
                        width: 36px;
                    }
                    >img{
                        width: 100%;
                    }
                }
            }
        }
        > .taille {
            margin-left: 451px;
            @media (max-width: 992px) {
                margin-left: 0;
            }
            > p {
                margin-bottom: 0;
            }
        }
    }
}
.box_person {
    padding-top: 0 !important;
    padding-bottom: 270px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    @media (max-width: 992px) {
        padding-bottom: 125px !important;
    }
    > .askwho_container {
        margin-left: 168px;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 24px;
        }
        > .wp-block-columns {
            margin-bottom: 0;
            > .wp-block-column {
                position: relative;
                flex-grow: unset;
                flex-basis: unset;
                > .owl_carousel_author {
                    > .owl-nav {
                        position: absolute;
                        bottom: -90px;
                        left: 0;
                        @media (max-width: 576px) {
                            bottom: -60px;
                        }
                        > div {
                            position: absolute;
                            bottom: 0;
                            > img {
                                width: 50px;
                                @media (max-width: 576px) {
                                    width: 30px;
                                }
                            }
                            &.owl-prev {
                                left: 0;
                            }
                            &.owl-next {
                                left: 75px;
                                @media (max-width: 576px) {
                                    left: 50px;
                                }
                            }
                        }
                    }
                    > .owl-stage-outer {
                        > .owl-stage {
                            > .owl-item {
                                > .item {
                                    > img {
                                        margin-bottom: 20px;
                                    }
                                    > .author_name {
                                        font-family: $f_GeneralSans_Medium;
                                    }
                                    > .author_function {
                                        font-family: $f_GeneralSans_Regular;
                                        font-size: 18px;
                                        line-height: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
                > .box_readmore {
                    align-items: center;
                    column-gap: 24px;
                    position: absolute;
                    bottom: -80px;
                    right: 64px;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        right: 24px;
                        column-gap: 8px;
                        bottom: -60px;
                    }
                    > .wp-block-column {
                        flex-grow: unset !important;
                        flex-basis: unset !important;
                        &:first-child {
                            height: 34px;
                            width: 48px;
                            @media (max-width: 576px) {
                                height: 22.67px;
                                width: 32px;
                            }
                            > figure {
                                margin-bottom: 0;
                                > img {
                                    width: 100%;
                                }
                            }
                        }
                        &:last-child {
                            margin-left: 0;
                            > p {
                                margin-bottom: 0;
                                > a {
                                    font-family: $f_GeneralSans_Bold;
                                    font-size: 24px;
                                    letter-spacing: 0;
                                    line-height: 32px;
                                    position: relative;
                                    overflow: hidden;
                                    z-index: 1;
                                    display: block;
                                    @media (max-width: 992px) {
                                        background-color: $mau_2;
                                    }
                                    @media (max-width: 576px) {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }
                                    &::first-letter {
                                        background-color: $mau_2;
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: -100%;
                                        width: 100%;
                                        height: 100%;
                                        background: $mau_2;
                                        transition-duration: 500ms;
                                        z-index: -1;
                                        display: block;
                                    }
                                    &:hover {
                                        &::before {
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.box_banner {
    padding-top: 0 !important;
    padding-bottom: 140px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 0px;
            margin-right: 0px;
        }
        > .wp-block-columns {
            > .wp-block-column {
                position: relative;
                > figure {
                    margin-bottom: 56px;
                    > img {
                        width: 100%;
                        margin-top: -100px;
                        @media (max-width: 992px) {
                            margin-top: 0;
                        }
                    }
                }
                > .lactualite {
                    margin-bottom: 85px;
                    @media (max-width: 992px) {
                        padding: 0 24px;
                    }
                    @media (max-width: 576px) {
                        margin-bottom: 45px;
                    }
                    > .wp-block-column {
                        position: relative;
                        > h2 {
                            width: 291px;
                            @media (max-width: 576px) {
                                width: 218px;
                            }
                        }
                        > figure {
                            height: 48px;
                            width: 54px;
                            position: absolute;
                            top: 70px;
                            left: 150px;
                            margin-bottom: 0;
                            @media (max-width: 576px) {
                                top: 45px;
                                left: 115px;
                                height: 32px;
                                width: 36px;
                            }
                        }
                    }
                }
                > .featured_post {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 40px;
                    @media (max-width: 992px) {
                        padding: 0 24px;
                    }
                    @media (max-width: 576px) {
                        display: block;
                    }
                    > .item {
                        width: calc(100% / 4 - 30px);
                        @media (max-width: 992px) {
                            width: calc(100% / 2 - 20px);
                            margin-bottom: 32px;
                        }
                        @media (max-width: 576px) {
                            width: 100%;
                        }
                        > .author_image {
                            > img {
                                width: 100%;
                            }
                        }
                        > .post_date {
                            margin-bottom: 0px;
                            font-family: $f_GeneralSans_Regular;
                            font-size: 16px;
                            line-height: 32px;
                        }
                        > .post_title {
                            a {
                                font-family: $f_GeneralSans_Medium;
                                font-size: 20px;
                                line-height: 32px;
                                @media (max-width: 576px) {
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
                > .box_readmore {
                    align-items: center;
                    column-gap: 24px;
                    position: absolute;
                    bottom: -80px;
                    right: 64px;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        right: 24px;
                        column-gap: 8px;
                        bottom: -60px;
                    }
                    > .wp-block-column {
                        flex-grow: unset !important;
                        flex-basis: unset !important;
                        &:first-child {
                            height: 34px;
                            width: 48px;
                            @media (max-width: 576px) {
                                height: 22.67px;
                                width: 32px;
                            }
                            > figure {
                                margin-bottom: 0;
                                > img {
                                    width: 100%;
                                }
                            }
                        }
                        &:last-child {
                            margin-left: 0;
                            > p {
                                margin-bottom: 0;
                                > a {
                                    font-family: $f_GeneralSans_Bold;
                                    font-size: 24px;
                                    letter-spacing: 0;
                                    line-height: 32px;
                                    position: relative;
                                    overflow: hidden;
                                    z-index: 1;
                                    display: block;
                                    @media (max-width: 992px) {
                                        background-color: $mau_2;
                                    }
                                    @media (max-width: 576px) {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }
                                    &::first-letter {
                                        background-color: $mau_2;
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: -100%;
                                        width: 100%;
                                        height: 100%;
                                        background: $mau_2;
                                        transition-duration: 500ms;
                                        z-index: -1;
                                        display: block;
                                    }
                                    &:hover {
                                        &::before {
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.box_boss {
    padding-top: 64px !important;
    padding-bottom: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 24px;
            margin-right: 24px;
            padding-top: 40px;
            padding-bottom: 80px;
        }
        > .wp-block-columns {
            column-gap: 9px;
            > .wp-block-column {
                flex-grow: unset;
                flex-basis: unset;
                &:first-child {
                    width: 480px;
                    > figure {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 40px;
                        > img {
                            width: 100%;
                        }
                    }
                    > .slogan {
                        font-family: $f_GeneralSans_Semibold;
                        font-size: 32px;
                        line-height: 40px;
                        @media (max-width: 576px) {
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                    > .author_name {
                        font-family: $f_GeneralSans_Semibold;
                        font-size: 32px;
                        line-height: 40px;
                        padding: 0;
                        display: inline;
                        @media (max-width: 576px) {
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                    > .excerption {
                        margin-top: 40px;
                        margin-bottom: 40px;
                        @media (max-width: 576px) {
                            margin-top: 24px;
                            margin-bottom: 32px;
                        }
                    }
                    > .box_readmore {
                        align-items: center;
                        column-gap: 24px;
                        margin-bottom: 0;
                        @media (max-width: 576px) {
                            right: 24px;
                            column-gap: 8px;
                            bottom: -60px;
                        }
                        > .wp-block-column {
                            flex-grow: unset !important;
                            flex-basis: unset !important;
                            &:first-child {
                                height: 34px;
                                width: 48px;
                                @media (max-width: 576px) {
                                    height: 22.67px;
                                    width: 32px;
                                }
                                > figure {
                                    margin-bottom: 0;
                                    > img {
                                        width: 100%;
                                    }
                                }
                            }
                            &:last-child {
                                margin-left: 0;
                                > p {
                                    margin-bottom: 0;
                                    > a {
                                        font-family: $f_GeneralSans_Bold;
                                        font-size: 24px;
                                        letter-spacing: 0;
                                        line-height: 32px;
                                        position: relative;
                                        overflow: hidden;
                                        z-index: 1;
                                        display: block;
                                        @media (max-width: 992px) {
                                            background-color: $mau_3;
                                        }
                                        @media (max-width: 576px) {
                                            font-size: 18px;
                                            line-height: 24px;
                                        }
                                        &::first-letter {
                                            background-color: $mau_3;
                                        }
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            top: 0;
                                            left: -100%;
                                            width: 100%;
                                            height: 100%;
                                            background: $mau_3;
                                            transition-duration: 500ms;
                                            z-index: -1;
                                            display: block;
                                        }
                                        &:hover {
                                            &::before {
                                                left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}
.box_ex_co_ac {
    padding-top: 56px !important;
    padding-bottom: 55px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        width: 100%;
        @media (max-width: 992px) {
            margin-left: 24px;
            margin-right: 24px;
        }
        > .wp-block-columns {
            &:first-child {
                margin-bottom: 90px;
                > .wp-block-column {
                    flex-grow: unset;
                    flex-basis: unset;
                    width: 455px;
                    position: relative;
                    > figure {
                        position: absolute;
                        top: 75px;
                        left: 368px;
                        height: 48px;
                        width: 54px;
                        margin-bottom: 0;
                    }
                }
            }
            &:nth-child(2) {
                column-gap: 124px;
                flex-wrap: wrap;
                @media (max-width: 992px) {
                    column-gap: 20px;
                }
                > .wp-block-column {
                    flex-grow: unset;
                    flex-basis: unset;
                    width: calc(100% / 3 - 107px);
                    margin-left: 0;
                    > h3 {
                        display: inline-block;
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        padding-bottom: 0 !important;
                        padding-top: 0 !important;
                        margin-bottom: 48px;
                    }
                }
            }
        }
    }
}
.box_footer {
    position: relative;
    padding-bottom: 40px;
    .askwho_container {
        margin-left: 168px;
        margin-right: 40px;
        display: flex;
        justify-content: flex-end;
        > a {
            img {
                width: 120px;
                height: 120px;
                @media (max-width: 576px) {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}
