.arrow_down {
    position: absolute;
    bottom: 32px;
    right: 40px;
    height: 48px;
    width: 34px;
    display: block;
    @media (max-width: 576px) {
        height: 32px;
        width: 22.67px;
        bottom: 20px;
        right: 20px;
    }
}
.contact_navbar {
    display: none;
    @media (max-width: 992px) {
        position: absolute;
        top: 30px;
        right: 24px;
        display: flex;
        column-gap: 64px;
        align-items: center;
    }
    .contactMenuMobile {
        font-family: $f_GeneralSans_Medium;
        font-size: 16px;
        line-height: 32px;
    }
    .navbar_toggle_v2 {
        background-color: transparent;
        background-image: none;
        border: none;
        .ic {
            background-repeat: no-repeat;
            background-size: cover;
            height: 48px;
            width: 48px;
            display: block;
        }
        .burger {
            background-image: url("../images/ic_burger.svg");
        }
        .close {
            background-image: url("../images/ic_close.svg");
        }
    }
}
.logoMain {
    position: absolute;
    top: 16px;
    left: 0;
    width: $sidebar_width;
    display: flex;
    justify-content: center;
    @media (max-width: 576px) {
        width: auto;
        top: 20px;
        left: 20px;
    }
    img {
        width: 72px;
        height: 72px;
        @media (max-width: 576px) {
            width: 56px;
            height: 56px;
        }
    }
}
.menu_sidebar {
    width: $sidebar_width;
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @media (max-width: 992px) {
        display: none;
    }
    .fabars_sidebar {
        height: $fabars_sidebar_height;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .navbar_href {
            background: none;
            border: none;
            cursor: pointer;
            .ic {
                background-repeat: no-repeat;
                background-size: cover;
                width: 48px;
                height: 48px;
                display: block;
            }
            .burger {
                background-image: url("../images/ic_burger.svg");
            }
            .close {
                background-image: url("../images/ic_close.svg");
            }
        }
        .navbar_contact {
            position: absolute;
            bottom: 60px;
            left: 0;
            transform: rotate(-90deg);
            width: 100%;
            font-family: $f_GeneralSans_Medium;
            font-size: 18px;
            line-height: 32px;
        }
    }
}
.menu_back_drop {
    background-color: $mau_3;
    width: 100%;
    height: $fabars_sidebar_height;
    transform: translate(0, 0);
    opacity: 0;
    transform-origin: left;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -100%;    
    .logoFooter {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: $sidebar_width;
        display: flex;
        justify-content: center;
        @media (max-width: 576px) {
            display: none;
        }
        img {
            height: 120px;
            width: 120px;
        }
    }
    .samBox {
        width: 100%;
        padding: 0 244px;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 35px;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-left: 32px;
            padding-right: 32px;            
        }
        .mainmenu {
            list-style: none;
            padding: 0;
            margin: 0;    
            li {
                margin: 16px 0;
                @media (max-width: 992px) {
                    margin: 0;
                }
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 56px;
                    line-height: 64px;
                    @media (max-width: 992px) {
                        font-size: 40px;
                        line-height: 56px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
        .i_special {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            @media (max-width: 576px) {
                display: block;            
            }
            li {
                a {
                    font-family: $f_GeneralSans_Medium;
                    font-size: 24px;
                    letter-spacing: 0;
                    line-height: 48px;
                }
            }
        }
        .i_collect {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 24px;
                    line-height: 64px;
                    @media (max-width: 576px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
    }
}
.meu_back_drop_scaleX1 {
    transform: translate(100%, 0);
    opacity: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .menu_header {
        border: 0;
        list-style: none;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 45px;
        @media (max-width: 992px) {
            display: none;
        }
        li {
            padding-top: 34px;
            padding-bottom: 34px;
            a {
                font-family: $f_GeneralSans_Medium;
                font-size: 16px;
                line-height: 32px;
                @media (max-width: 992px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &::before {
                    background: none;
                }
            }
        }
    }
}
.box_header {
    padding: 0 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    column-gap: 72px;
    margin-bottom: 0;
    @media (max-width: 992px) {
        padding: 0px 32px;
    }
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .box_logo {
        width: $logo_block_1_width;
        margin-top: -265px;
        margin-bottom: 0;
        @media (max-width: 576px) {
            margin-top: 76px;
            width: 96px;
        }
        .wp-block-image.size-large {
            margin-bottom: 0;
        }
    }
    .box_slogan {
        width: 752px;
        @media (max-width: 992px) {
            width: auto;
        }
        @media (max-width: 576px) {
            margin-top: 40px;
        }
        h1 {
            span {
                @media (max-width: 576px) {
                    background: none !important;
                }
            }
        }
    }
}
.box_contacts {
    padding-left: 168px;
    padding-right: 168px;
    padding-top: 56px;
    padding-bottom: 72px;
    position: relative;    
    @media (max-width: 576px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    .box_excerpt {
        width: 450px;        
        @media (max-width: 576px) {
            width: 318px;
        }
        figure {
            position: absolute;
            top: 131px;
            left: 579px;
            height: 48px;
            width: 54px;
            margin-bottom: 0;
            @media(max-width:576px){
                top: 124px;
                left: 141px;
                height: 32px;
                width: 36px;                
            }
        }        
    }
}
