.single_post {
    padding-top: 128px !important;
    padding-bottom: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    background-color: $mau_4;
    @media(max-width:576px){
        padding-top: 120px !important;
    }
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        @media(max-width:992px){
            margin-left: 24px;
            margin-right: 24px;
        }
        > .box_wrapper {
            display: flex;
            column-gap: 64px;
            flex-wrap: wrap;
            @media(max-width:992px){
                flex-direction: column-reverse;
                column-gap: 0;
                row-gap: 16px;
            }            
            > .single_col {
                width: calc(100% / 2 - 32px);                
                @media (max-width: 992px) {
                    width: 100%;                    
                }
                > .single_title {
                    font-family: $f_GeneralSans_Bold;
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 16px;
                    @media (max-width: 576px) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }
                > .single_date {
                    font-family: $f_GeneralSans_Regular;
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    @media (max-width: 576px) {
                        margin-bottom: 32px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
