.arrow_down {
    position: absolute;
    bottom: 32px;
    right: 40px;
    height: 48px;
    width: 34px;
    display: block;
    @media (max-width: 576px) {
        height: 32px;
        width: 22.67px;
        bottom: 20px;
        right: 20px;
    }
}
.contact_navbar {
    display: none;
    @media (max-width: 992px) {
        position: absolute;
        top: 30px;
        right: 24px;
        display: flex;
        column-gap: 30px;
        align-items: center;
        z-index: 11;
    }
    .contactMenuMobile {
        font-family: $f_GeneralSans_Medium;
        font-size: 16px;
        line-height: 32px;
    }
    .navbar_toggle_v2 {
        background-color: transparent;
        background-image: none;
        border: none;
        .ic {
            background-repeat: no-repeat;
            background-size: cover;
            height: 48px;
            width: 48px;
            display: block;
        }
        .burger {
            background-image: url("../images/ic_burger.svg");
        }
        .close {
            background-image: url("../images/ic_close.svg");
        }
    }
}
.logoMain {
    position: absolute;
    top: 16px;
    left: 0;
    width: $sidebar_width;
    display: flex;
    justify-content: center;
    z-index: 13;
    @media (max-width: 576px) {
        width: auto;
        top: 20px;
        left: 20px;
    }
    img {
        width: 72px;
        height: 72px;
        @media (max-width: 576px) {
            width: 56px;
            height: 56px;
        }
    }
}
.menu_sidebar {
    width: $sidebar_width;
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    @media (max-width: 992px) {
        display: none;
    }
    .fabars_sidebar {
        height: $fabars_sidebar_height;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .navbar_href {
            background: none;
            border: none;
            cursor: pointer;
            .ic {
                background-repeat: no-repeat;
                background-size: cover;
                width: 48px;
                height: 48px;
                display: block;
            }
            .burger {
                background-image: url("../images/ic_burger.svg");
            }
            .close {
                background-image: url("../images/ic_close.svg");
            }
        }
        .navbar_contact {
            position: absolute;
            bottom: 60px;
            left: 0;
            transform: rotate(-90deg);
            width: 100%;
            font-family: $f_GeneralSans_Medium;
            font-size: 18px;
            line-height: 32px;
        }
    }
}
.menu_back_drop {
    background-color: $mau_3;
    width: 100%;
    height: $fabars_sidebar_height;
    transform: translate(0, 0);
    opacity: 0;
    transform-origin: left;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    @media (max-width: 992px) {
        align-items: flex-start;
        position: absolute;
    }
    .logoFooter {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: $sidebar_width;
        display: flex;
        justify-content: center;
        @media (max-width: 576px) {
            display: none;
        }
        img {
            height: 120px;
            width: 120px;
        }
    }
    .samBox {
        width: 100%;
        padding-left: 244px;
        position: relative;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding: 0 32px;
        }
        @media (max-width: 576px) {
            margin-top: 100px;
        }
        .mainmenu {
            list-style: none;
            padding: 0;
            margin: 0;
            @media (max-width: 576px) {
                margin-bottom: 25px;
            }
            li {
                margin-bottom: 16px;
                @media (max-width: 992px) {
                    margin: 0;
                }
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 56px;
                    line-height: 64px;
                    @media (max-width: 576px) {
                        font-size: 40px;
                        line-height: 72px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
        .i_special {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
            @media (max-width: 576px) {
                margin-bottom: 5px;
            }
            li {
                margin-bottom: 16px;
                a {
                    font-family: $f_GeneralSans_Medium;
                    font-size: 24px;
                    letter-spacing: 0;
                    line-height: 48px;
                }
            }
        }
        .i_collect {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 24px;
                    line-height: 64px;
                    @media (max-width: 576px) {
                        font-size: 18px;
                        line-height: 40px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
    }
}
.meu_back_drop_scaleX1 {
    transform: translate(100%, 0);
    opacity: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    .menu_header {
        border: 0;
        list-style: none;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 45px;
        @media (max-width: 992px) {
            display: none;
        }
        li {
            padding-top: 34px;
            padding-bottom: 34px;
            a {
                font-family: $f_GeneralSans_Medium;
                font-size: 16px;
                line-height: 32px;
                @media (max-width: 992px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &::before {
                    background: none;
                }
            }
        }
    }
}
.box_header {
    padding-left: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    column-gap: 72px;
    margin-bottom: 0;
    @media (max-width: 992px) {
        padding: 0px 32px;
    }
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    > .box_logo {
        width: $logo_block_1_width;
        margin-top: -265px;
        margin-bottom: 0;
        @media (max-width: 576px) {
            margin-top: 76px;
            width: 96px;
        }
        > .wp-block-image.size-large {
            margin-bottom: 0;
            > img {
                width: 100%;
            }
        }
    }
    .box_slogan {
        width: 752px;
        @media (max-width: 992px) {
            width: auto;
        }
        @media (max-width: 576px) {
            margin-top: 40px;
        }
        h1 {
            @media (max-width: 576px) {
                font-size: 40px;
                line-height: 40px;
            }
            span {
                @media (max-width: 576px) {
                    background: none !important;
                }
            }
        }
    }
}
.box_contacts {
    padding-left: 168px;
    padding-right: 168px;
    padding-top: 56px;
    padding-bottom: 55px;
    @media (max-width: 576px) {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .box_excerpt {
        width: 450px;
        position: relative;
        @media (max-width: 576px) {
            width: 318px;
        }
        > figure {
            position: absolute;
            top: 75px;
            left: 411px;
            height: 48px;
            width: 54px;
            margin-bottom: 0;
            @media (max-width: 576px) {
                top: 84px;
                left: 117px;
                height: 32px;
                width: 36px;
            }
        }
    }
}
.box_taille {
    padding-bottom: 80px;
    padding-left: 619px;
    padding-right: 134px;
    @media (max-width: 1024px) {
        padding-left: 168px;
        padding-right: 168px;
    }
    @media (max-width: 992px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    @media (max-width: 576px) {
        padding-bottom: 32px;
    }
}
.box_author {
    padding-bottom: 270px;
    padding-left: 168px;
    @media (max-width: 992px) {
        padding-left: 24px;
    }
    @media (max-width: 576px) {
        padding-bottom: 125px;
    }
    > div {
        position: relative;
        .owl_carousel_author {
            .owl-nav {
                position: absolute;
                bottom: -80px;
                left: 0;
                @media (max-width: 576px) {
                    bottom: -60px;
                }
                > div {
                    position: absolute;
                    bottom: 0;
                    > img {
                        width: 50px;
                        @media(max-width:576px){
                            width: 30px;
                        }                        
                    }
                    &.owl-prev {
                        left: 0;                        
                    }
                    &.owl-next {
                        left: 75px;                        
                        @media (max-width: 576px) {
                            left: 50px;
                        }
                    }
                }
            }
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            .author_image {
                                margin-bottom: 20px;
                            }
                            .author_name {
                                font-family: $f_GeneralSans_Medium;
                            }
                            .author_function {
                                font-family: $f_GeneralSans_Regular;
                                font-size: 18px;
                                line-height: 32px;
                            }
                        }
                    }
                }
            }
        }
        .box_readmore {
            display: flex;
            align-items: center;
            column-gap: 24px;
            position: absolute;
            bottom: -80px;
            right: 64px;
            @media (max-width: 576px) {
                right: 24px;
                column-gap: 8px;
                bottom: -60px;
            }
            > div {
                &:first-child {
                    height: 34px;
                    width: 48px;
                    @media (max-width: 576px) {
                        height: 22.67px;
                        width: 32px;
                    }
                    > figure {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    > p {
                        > a {
                            font-family: $f_GeneralSans_Bold;
                            font-size: 24px;
                            letter-spacing: 0;
                            line-height: 32px;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            display: block;
                            @media (max-width: 576px) {
                                font-size: 18px;
                                line-height: 24px;
                                background-color: $mau_2;
                            }
                            &::first-letter {
                                background-color: $mau_2;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: -100%;
                                width: 100%;
                                height: 100%;
                                background: $mau_2;
                                transition-duration: 500ms;
                                z-index: -1;
                                display: block;
                            }
                            &:hover {
                                &::before {
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.box_banner {
    padding-bottom: 160px;
    padding-left: 168px;
    padding-right: 64px;
    @media (max-width: 992px) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (max-width: 576px) {
        padding-bottom: 110px;
    }
    > div {
        position: relative;
        > figure {
            margin-bottom: 56px;
            @media (max-width: 576px) {
                margin-bottom: 40px;
            }
            > img {
                width: 100%;
                margin-top: -95px;
                @media (max-width: 576px) {
                    margin-top: 0;
                }
            }
        }
        > .lactualite {
            margin-bottom: 85px;
            @media (max-width: 992px) {
                padding: 0 24px;
            }
            @media (max-width: 576px) {
                margin-bottom: 45px;
            }
            > div {
                position: relative;
                > h2 {
                    width: 291px;
                    @media (max-width: 576px) {
                        width: 218px;
                    }
                }
                > figure {
                    height: 48px;
                    width: 54px;
                    position: absolute;
                    top: 70px;
                    left: 150px;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        top: 45px;
                        left: 115px;
                        height: 32px;
                        width: 36px;
                    }
                }
            }
        }
        > .featured_post {
            display: flex;
            flex-wrap: wrap;
            column-gap: 40px;
            @media (max-width: 992px) {
                padding: 0 24px;
            }
            @media (max-width: 576px) {
                display: block;
            }
            .item {
                flex-basis: calc(100% / 4 - 30px);
                @media (max-width: 576px) {
                    margin-bottom: 32px;
                }
                .author_image {
                    > img {
                        width: 100%;
                    }
                }
                .post_date {
                    margin-bottom: 0px;
                    font-family: $f_GeneralSans_Regular;
                    font-size: 16px;
                    line-height: 32px;
                }
                .post_title {
                    a {
                        font-family: $f_GeneralSans_Medium;
                        font-size: 20px;
                        line-height: 32px;
                        @media (max-width: 576px) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        > .box_readmore {
            display: flex;
            align-items: center;
            column-gap: 24px;
            position: absolute;
            bottom: -75px;
            right: 0;
            @media (max-width: 576px) {
                right: 24px;
                column-gap: 8px;
                bottom: -60px;
            }
            > div {
                &:first-child {
                    height: 34px;
                    width: 48px;
                    @media (max-width: 576px) {
                        height: 22.67px;
                        width: 32px;
                    }
                    > figure {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    > p {
                        > a {
                            font-family: $f_GeneralSans_Bold;
                            font-size: 24px;
                            letter-spacing: 0;
                            line-height: 32px;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            display: block;
                            @media (max-width: 576px) {
                                font-size: 18px;
                                line-height: 24px;
                                background-color: $mau_2;
                            }
                            &::first-letter {
                                background-color: $mau_2;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: -100%;
                                width: 100%;
                                height: 100%;
                                background: $mau_2;
                                transition-duration: 500ms;
                                z-index: -1;
                                display: block;
                            }
                            &:hover {
                                &::before {
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.box_content_bottom {
    padding-left: 168px;
    padding-right: 43px;
    display: flex;
    column-gap: 9px;
    padding-top: 64px;
    padding-bottom: 41px;
    @media (max-width: 992px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: 576px) {
        display: block;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    > div {
        &:first-child {
            width: 480px;
            @media (max-width: 1024px) {
                width: 48%;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
            > .logo {
                width: 120px;
                height: 120px;
                margin-bottom: 40px;
                @media (max-width: 576px) {
                    margin-bottom: 0;
                    width: 96px;
                    height: 96px;
                }
                > img {
                    width: 100%;
                }
            }
            > .boss_mobile {
                display: none;
                @media (max-width: 576px) {
                    display: block;
                    margin-bottom: 0;
                    > img {
                        width: 100%;
                    }
                }
            }
            > .slogan {
                font-family: $f_GeneralSans_Semibold;
                font-size: 32px;
                line-height: 40px;
                @media (max-width: 576px) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            > .author_name {
                font-family: $f_GeneralSans_Semibold;
                font-size: 32px;
                line-height: 40px;
                padding: 0;
                display: inline;
                @media (max-width: 576px) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            > .excerption {
                margin-top: 40px;
                margin-bottom: 40px;
                @media (max-width: 576px) {
                    margin-top: 24px;
                    margin-bottom: 32px;
                }
            }
            > .box_readmore {
                display: flex;
                align-items: center;
                column-gap: 24px;
                @media(max-width:576px){
                    column-gap: 7px;
                }
                > div {
                    &:first-child {
                        height: 34px;
                        width: 48px;
                        @media (max-width: 576px) {
                            height: 22.67px;
                            width: 32px;
                        }
                        > figure {
                            margin-bottom: 0;
                        }
                    }
                    &:last-child {
                        > p {
                            > a {
                                font-family: $f_GeneralSans_Bold;
                                font-size: 24px;
                                letter-spacing: 0;
                                line-height: 32px;
                                position: relative;
                                overflow: hidden;
                                z-index: 1;
                                display: block;
                                color: #000;
                                @media (max-width: 576px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                    background-color: $mau_3;
                                }
                                &::first-letter {
                                    background-color: $mau_3;
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: -100%;
                                    width: 100%;
                                    height: 100%;
                                    background: $mau_3;
                                    transition-duration: 500ms;
                                    z-index: -1;
                                    display: block;
                                }
                                &:hover {
                                    &::before {
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &:last-child {
            margin-left: auto;
            @media (max-width: 576px) {
                width: 100%;
                display: none;
            }
            > figure {
                > img {
                    width: 100%;
                }
            }
        }
    }
}
.box_pourquoi {
    padding-left: 168px;
    padding-right: 168px;
    padding-top: 56px;
    padding-bottom: 55px;
    @media (max-width: 576px) {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .box_excerpt {
        width: 455px;
        position: relative;
        @media (max-width: 576px) {
            width: 318px;
        }
        > figure {
            position: absolute;
            top: 75px;
            left: 368px;
            height: 48px;
            width: 54px;
            margin-bottom: 0;
            @media (max-width: 576px) {
                top: 78px;
                left: 170px;
                height: 32px;
                width: 36px;
            }
        }
    }
}
.box_ex_co_ac {
    display: flex;
    padding-left: 168px;
    padding-right: 64px;
    column-gap: 124px;
    padding-top: 40px;
    padding-bottom: 56px;
    @media (max-width: 992px) {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        row-gap: 44px;
    }
    @media (max-width: 576px) {
        padding-bottom: 40px;
    }
    > div {
        width: 320px;
        @media (max-width: 992px) {
            width: 100%;
        }
        > h3 {
            margin-bottom: 48px;
            display: inline-block;
            background-color: #8dc8e8;
            @media (max-width: 992px) {
                margin-bottom: 32px;
            }
        }
    }
}
.box_footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 168px;
    padding-right: 40px;
    padding-bottom: 40px;
    @media (max-width: 576px) {
        justify-content: center;
        padding-left: 24px;
        padding-right: 24px;
    }
    > a {
        img {
            width: 120px;
            height: 120px;
            @media (max-width: 576px) {
                width: 80px;
                height: 80px;
            }
        }
    }
}
