.single_post {
    padding-top: 128px !important;
    padding-bottom: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    background-color: $mau_4;
    > .askwho_container {
        margin-left: 168px;
        margin-right: 64px;
        > .box_wrapper {
            display: flex;
            column-gap: 64px;
            flex-wrap: wrap;
            > .single_col {
                width: calc(100% / 2 - 32px);
                @media (max-width: 576px) {
                    width: 100%;
                    margin-bottom: 16px;
                }
                > .single_title {
                    font-family: $f_GeneralSans_Bold;
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 16px;
                    @media (max-width: 576px) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }
                > .single_date {
                    font-family: $f_GeneralSans_Regular;
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    @media (max-width: 576px) {
                        margin-bottom: 32px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
