.page_expertise {
    padding-top: 104px !important;
    padding-bottom: 0px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    @media(max-width:576px){
        padding-top: 120px !important;
    }
    > .askwho_container {
        margin-left: 168px;
        margin-right: 552px;
        @media(max-width:1024px){
            margin-right: 64px;
        }
        @media(max-width:992px){
            margin-left: 24px;
            margin-right: 24px;
        }
        > .page_name {
            margin-bottom: 0 !important;
            > .wp-block-column {
                &:first-child {
                    > h1 {
                        font-family: $f_GeneralSans_Medium;
                        font-size: 104px;
                        line-height: 104px;
                        margin-bottom: 72px;
                        @media (max-width: 576px) {
                            font-size: 48px;
                            line-height: 64px;
                            margin-bottom: 56px;
                        }
                    }
                }
            }
        }
        >.page_content{
            margin-bottom: 0;
        }
    }
}