.navbar_toggle_v2 {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 25px;
        padding: 0;
        margin-top: 25px;
        background-color: transparent;
        background-image: none;
        border: none;
        z-index: 15;
    }
    .ic {
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        display: block;
    }
    .burger {
        background-image: url("../images/ic_burger.svg");
    }
    .close {
        background-image: url("../images/ic_close.svg");
    }
}
.logoMain {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 15;
    width: $sidebar_width;
    display: flex;
    justify-content: center;
    img {
        width: 72px;
        height: 72px;
    }
}
.contactMenuMobile {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: absolute;
        top: 0;
        right: 80px;
        font-family: $f_GeneralSans_Medium;
        z-index: 15;
        line-height: 70px;
    }
}
.box_random {
    background: teal;
    height: 50px;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 13;
}
.menu_sidebar {
    width: $sidebar_width;
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    @media (max-width: 992px) {
        display: none;
    }
    .fabars_sidebar {
        height: $fabars_sidebar_height;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .navbar_href {
            background: none;
            border: none;
            .ic {
                background-repeat: no-repeat;
                background-size: cover;
                width: 48px;
                height: 48px;
                display: block;
            }
            .burger {
                background-image: url("../images/ic_burger.svg");
            }
            .close {
                background-image: url("../images/ic_close.svg");
            }
        }
        .navbar_contact {
            position: absolute;
            bottom: 60px;
            left: 0;
            transform: rotate(-90deg);
            width: 100%;
            font-family: $f_GeneralSans_Medium;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 32px;
        }
    }
}
.menu_back_drop {
    background-color: $mau_3;
    width: 100%;
    height: $fabars_sidebar_height;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    .logoFooter {
        position: absolute;
        bottom: 10px;
        right: 0;
        width: $sidebar_width;
        display: flex;
        justify-content: center;
        img {
            width: 56px;
            height: 56px;
        }
    }
    .samBox {
        width: 1070px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }
        .mainmenu {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin: 20px 0;
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 56px;
                    line-height: 64px;
                    @media (max-width: 576px) {
                        font-size: 40px;
                        line-height: 30px;
                    }
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
        .iCollect {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-family: $f_KontrapunktMiki_Regular;
                    font-size: 24px;
                    line-height: 64px;
                    &:hover {
                        background-color: $mau_2;
                    }
                }
            }
        }
    }
}
.meu_back_drop_scaleX1 {
    transform: scaleX(1);
    opacity: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    .navbar.navbar-default {
        border: 0;
        .navbar.navbar-main {
            .container {
                .navbar-header {
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
                .collapse.navbar-collapse {
                    box-shadow: 0 0 0 transparent;
                    border: 0;
                    .nav.navbar-nav.navbar-right {
                        .nav.navbar-nav {
                            height: 100%;
                            text-align: right;
                            border: 0;
                            @media (max-width: 992px) {
                                padding-top: 0 !important;
                            }
                            li {
                                a {
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                    font-family: $f_GeneralSans_Medium;
                                    font-size: 16px;
                                    line-height: 32px;

                                    @media (max-width: 992px) {
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                    }
                                    &::before {
                                        background: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.boxheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $fabars_sidebar_height;
    .logoBox {
        position: relative;
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            width: 800px;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            row-gap: 50px;
        }
        .logoAskWho {
            width: 160px;
            margin-top: -75px;
            @media (max-width: 1024px) {
                width: 100px;
            }
            @media (max-width: 576px) {
                width: 96px;
                margin-top: 0;
            }
            img {
                width: 100%;
            }
        }
        .agence {
            width: 755px;

            @media (max-width: 1024px) {
                width: 630px;
            }
            @media (max-width: 768px) {
                width: 590px;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
}
.arrow_down {
    position: absolute;
    bottom: 2%;
    right: 1%;
    z-index: 11;
}
.uncarnet {
    background-color: $mau_3;
    padding: 50px 0 90px 0;
    .dutex {
        max-width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        position: relative;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        .uncarnet_addresses {
            width: 39%;
            margin-bottom: 40px;
            position: relative;
            @media (max-width: 576px) {
                width: 280px;
            }
            &::after {
                content: "";
                position: absolute;
                background-image: url(./../images/ic_arrowDown.svg);
                width: 54px;
                height: 48px;
                top: 70px;
                right: 55px;
                @media (max-width: 576px) {
                    top: 80px;
                    right: 105px;
                }
            }
        }
        .humaine {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 40px;
            @media (max-width: 992px) {
                display: block;
            }
            .box_content {
                width: 67%;
                @media (max-width: 1024px) {
                    width: 355px;
                }
                @media (max-width: 992px) {
                    width: 100%;
                }
            }
        }
        .readmore {
            width: 200px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: -67px;
            right: 15px;
            @media (max-width: 576px) {
                width: 165px;
            }
            span {
                position: relative;
                overflow: hidden;
                z-index: 1;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: $mau_2;
                    transition-duration: 500ms;
                    z-index: -1;
                    display: block;
                }
            }
            &:hover {
                span {
                    &::before {
                        left: 0;
                    }
                }
            }
        }
        .owl_carousel_author {
            .owl-nav {
                margin-top: 65px;
                position: relative;
                div {
                    background-repeat: no-repeat;
                    position: absolute;
                    bottom: 0;
                    width: 50px;
                    height: 34px;
                    &.owl-prev {
                        left: 0;
                        background-image: url("./../images/ic_scrollDown-1.svg");
                    }
                    &.owl-next {
                        left: 70px;
                        background-image: url("./../images/ic_scrollDown-2.svg");
                    }
                }
            }
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            .author_image {
                                margin-bottom: 20px;
                                display: block;
                                overflow: hidden;
                                img {
                                    transition-duration: 500ms;
                                }
                                &:hover {
                                    img {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .author_name {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.askwho_block {
    padding: 50px 0 100px 0px;
    @media (max-width: 576px) {
        padding-bottom: 50px;
    }
    .banner_parat {
        width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        margin-top: -50px;
        position: relative;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        .actulites {
            margin-top: 50px;
            margin-bottom: 80px;
            position: relative;
            .ask_who_label {
                position: relative;
                width: 200px;
                @media (max-width: 576px) {
                    width: 170px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -25px;
                    right: 0;
                    background-image: url("./../images/ic_arrowDown.svg");
                    width: 54px;
                    height: 48px;
                }
            }
            .rubat {
                width: 45px;
                position: absolute;
                bottom: -5px;
                left: 100px;
                height: 20px;
                &::before {
                    position: absolute;
                    bottom: 15px;
                    right: 0;
                    width: 40px;
                    height: 5px;
                    background: $mau_1;
                    content: "";
                }
                &::after {
                    position: absolute;
                    bottom: -8px;
                    right: -10px;
                    content: "\f063";
                    font-family: $f_FontAwesome;
                    font-size: 30px;
                }
            }
        }
        .featured_post {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            @media (max-width: 576px) {
                display: block;
            }
            .item {
                flex-basis: calc(100% / 4 - 15px);
                @media (max-width: 576px) {
                    margin-bottom: 40px;
                }
                .author_image {
                    margin-bottom: 20px;
                    display: block;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition-duration: 500ms;
                    }
                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
                .post_date {
                    margin-bottom: 5px;
                }
            }
        }
        .readmore {
            width: 200px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: -80px;
            right: 15px;
            @media (max-width: 576px) {
                width: 165px;
            }
            span {
                position: relative;
                overflow: hidden;
                z-index: 1;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: $mau_2;
                    transition-duration: 500ms;
                    z-index: -1;
                    display: block;
                }
            }
            &:hover {
                span {
                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }
}
.boss_box {
    padding: 50px 0px;
    .container_ask_who {
        width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            padding-left: 24px;
            padding-right: 24px;
        }
        .ask_who_col_left {
            flex-basis: 40%;
            @media (max-width: 576px) {
                flex-basis: 100%;
            }
            .logo {
                width: 120px;
                height: 120px;
                margin-bottom: 40px;
                @media (max-width: 576px) {
                    display: none;
                }
            }
            .ask_who_title {
                margin-bottom: 30px;
                width: 260px;
            }
            .readmore {
                width: 200px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 576px) {
                    width: 165px;
                }
                span {
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background: $mau_3;
                        transition-duration: 500ms;
                        z-index: -1;
                        display: block;
                    }
                }
                &:hover {
                    span {
                        &::before {
                            left: 0;
                        }
                    }
                }
            }
        }
        .ask_who_col_right {
            flex-basis: 55%;
            text-align: center;
            display: flex;
            align-items: flex-end;
            @media (max-width: 576px) {
                flex-basis: 100%;
                margin-bottom: 50px;
                display: block;
            }
            .logo {
                display: none;
                width: 120px;
                height: 120px;
                margin-bottom: 40px;
                @media (max-width: 576px) {
                    display: block;
                }
            }
        }
    }
}
.yellow_box {
    padding-top: 50px;
    padding-bottom: 50px;
    .container_ask_who {
        width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        position: relative;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        .yellow_title {
            width: 490px;
            position: relative;
            margin-bottom: 80px;
            @media (max-width: 576px) {
                width: 318px;
                margin-bottom: 40px;
            }
            &::after {
                content: "";
                position: absolute;
                background-image: url(./../images/ic_arrowDown.svg);
                width: 54px;
                height: 48px;
                top: 70px;
                right: 55px;
                @media (max-width: 576px) {
                    top: 80px;
                    right: 90px;
                }
            }
        }
        .content_bottom {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            @media (max-width: 576px) {
                display: block;
            }
            .ask_who_col_30 {
                flex-basis: calc(100% / 3 - 20px);
                @media (max-width: 992px) {
                    margin-bottom: 30px;
                }
                .ask_who_title {
                    margin-bottom: 30px;
                    font-weight: 700;
                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
.child_page {
    padding-top: 65px;
    padding-bottom: 50px;
    .container_ask_who {
        width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        position: relative;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        .ask_who_title {
            margin-bottom: 30px;
        }
        .uncarnet_addresses {
            width: 325px;
            margin-bottom: 20px;
            position: relative;
            &::before {
                position: absolute;
                bottom: 20px;
                right: 0;
                width: 40px;
                height: 5px;
                background: $mau_1;
                content: "";
            }
            &::after {
                position: absolute;
                bottom: -8px;
                right: -10px;
                content: "\f063";
                font-family: $f_FontAwesome;
                font-size: 30px;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
        .humaine {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 40px;
            @media (max-width: 576px) {
                display: block;
            }
            .box_content {
                width: 655px;
                @media (max-width: 1024px) {
                    width: 475px;
                }
                @media (max-width: 992px) {
                    width: 485px;
                }
                @media (max-width: 768px) {
                    width: 420px;
                }
                @media (max-width: 740px) {
                    width: 390px;
                }
                @media (max-width: 576px) {
                    width: 100%;
                }
            }
        }
        .actulites {
            position: relative;
            margin-bottom: 40px;
            .ask_who_label {
                margin-bottom: 10px;
            }
            .rubat {
                width: 45px;
                position: absolute;
                bottom: -5px;
                left: 100px;
                height: 20px;
                &::before {
                    position: absolute;
                    bottom: 15px;
                    right: 0;
                    width: 40px;
                    height: 5px;
                    background: $mau_1;
                    content: "";
                    @media (max-width: 375px) {
                        right: -35px;
                    }
                }
                &::after {
                    position: absolute;
                    bottom: -8px;
                    right: -10px;
                    content: "\f063";
                    font-family: $f_FontAwesome;
                    font-size: 30px;
                    @media (max-width: 375px) {
                        right: -45px;
                    }
                }
            }
        }
        .author_list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 20px;
            @media (max-width: 576px) {
                column-gap: 0;
            }
            .author_item {
                flex-basis: calc(100% / 4 - 15px);
                @media (max-width: 576px) {
                    flex-basis: 100%;
                }
                a {
                    margin-bottom: 20px;
                    display: block;
                    overflow: hidden;
                    img {
                        transition-duration: 500ms;
                    }
                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
                .author_name {
                    margin-bottom: 5px;
                }
                .author_function {
                }
                .post_date {
                    margin-bottom: 5px;
                }
            }
        }
        .box_readmore {
            margin-top: 20px;
            margin-left: 0px;
            .readmore {
                width: 170px;
                height: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                background: none;
                border: 0;
                &::before {
                    position: absolute;
                    bottom: 13px;
                    left: 0;
                    width: 5px;
                    height: 15px;
                    background: $mau_1;
                    content: "";
                }
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "\f178";
                    font-family: $f_FontAwesome;
                    font-size: 30px;
                }
            }
        }
        .box_single {
            display: flex;
            flex-wrap: wrap;
            column-gap: 40px;
            @media (max-width: 576px) {
                flex-direction: column-reverse;
                column-gap: 0;
            }
            .box_col {
                flex-basis: calc(100% / 2 - 20px);
                @media (max-width: 576px) {
                    flex-basis: 100%;
                    margin-bottom: 30px;
                }
                .single_title {
                    margin-bottom: 30px;
                }
                .single_date {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.footer {
    padding-bottom: 40px;
    .container_ask_who {
        width: $wapper_width;
        margin-left: 168px;
        margin-right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 1024px) {
            width: $wrapper_mobile_width;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 576px) {
            justify-content: center;
            padding-left: 24px;
            padding-right: 24px;
        }
        a {
            .logo {
                width: 120px;
                height: 120px;
            }
        }
    }
}
