$mau_1:#0e0e0e;
$mau_2:#F0E87B;
$mau_3:#8DC8E8;
$mau_4:#A5DFD3;
$mau_5:#ECC3B2;
$fabars_sidebar_height:100vh;
$wapper_width:1208px;
$wrapper_mobile_width:820px;
$sidebar_width:105px;
$logo_block_1_width:160px;